body {
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
}

.imgDetail {
    height: 80vh;
}


.divDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}