.itemContainerImg {
  height: 300px;
  width: auto;
}

.itemContainerImg img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.itemCard {
  width: 100%;
  padding: 20px;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}